<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .main{
            background-color:white;
            border-radius: 10px;
            font-size: large;
            font-weight: bolder;
            padding-top: 10px;
        }

        body{
            background-color: lightskyblue;
        }
        .answer{
            font-weight: bolder;
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center my-3">Second hand Car Price Predictor</h1>
    </div>
    

    {% if flag %}
    
    <div class="alert alert-primary text-center answer" role="alert">
        The Predicted Price is around {{ans}} lacs
      </div>
    {% endif %}
    
    <div class="container main">
        <form action='/' method="POST" class="row">
            {% csrf_token %}
            <div class="form-group col-xl-6">
                <label for="year">Year of  Manufacturing</label>
                <input type="number" class="form-control" id="year" name="year" placeholder="eg. 2020" required>
            </div>
            <div class="form-group col-xl-6">
                <label for="Kilometers_Driven">Kilometers Driven</label>
                <input type="number" class="form-control" id="Kilometers_Driven" name="Kilometers_Driven"
                    placeholder="eg. 20000 (in Kms)" required>
            </div>
            <div class="form-group col-xl-6">
                <label for="transmission">Transmission</label>
                <select class="form-control" id="transmission" name="transmission" required>
                    <option>Manual</option>
                    <option>Automatic</option>
                </select>
            </div>
            <div class="form-group col-xl-6">
                <label for="owner"> Owner type</label>
                <select class="form-control" id="owner" name="owner" required>
                    <option>First</option>
                    <option>Second</option>
                    <option>Third</option>
                    <option>Fourth & Above</option>
                </select>
            </div>
            <div class="form-group col-xl-6">
                <label for="Seats">Seats</label>
                <input required type="number" class="form-control" id="Seats" name="Seats" placeholder="eg. 4 or 5">
            </div>
            <div class="form-group col-xl-6">
                <label for="Mileage">Mileage</label>
                <input required type="number" step='any' class="form-control" id="Mileage" name="Mileage" placeholder="eg. 13.434 (in kmpl or km/kg)">
            </div>

            <div class="form-group col-xl-6">
                <label for="Power">Power</label>
                <input required type="number" class="form-control" step="any" id="Power" name="Power" placeholder="eg. 115.442 (in bhp)">
            </div>
            <div class="form-group col-xl-6">
                <label for="Engine">Engine</label>
                <input required type="number" class="form-control" step="any" id="Engine" name="Engine" placeholder="eg. 1232 (in CC)">
            </div>  
            <div class="form-group col-xl-6">
                <label for="Location"> Location</label>
                <select class="form-control" id="Location" name="Location" required>
                    <option>Bangalore</option>
                    <option>Chennai</option>
                    <option>Coimbatore</option>
                    <option>Delhi</option>
                    <option>Hyderabad</option>
                    <option>Jaipur</option>
                    <option>Kochi</option>
                    <option>Kolkata</option>
                    <option>Mumbai</option>
                    <option>Pune</option>
                    <option>Ahmedabad</option>
                </select>
            </div>
            <div class="form-group col-xl-6">
                <label for="fuel_type"> Fuel type</label>
                <select class="form-control" id="fuel_type" name="fuel_type" required>
                    <option>Petrol</option>
                    <option>Diesel</option>
                    <option>CNG</option>
                    <option>LPG</option>
                </select>
            </div>
            <div class="form-group col-xl-6">
            <button class="btn btn-success align-center" type="submit">submit</button>
            <div>
        </form>
    </div>
</body>

</html>
